<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="System.ServiceModel.Security.WSTrustServiceContract"
             behaviorConfiguration="myStsBehavior">
        <endpoint address=""
                contract="System.ServiceModel.Security.IWSTrust13SyncContract"
                binding="ws2007HttpBinding"
                bindingConfiguration="myStsBinding"/>
      </service>
    </services>
    <bindings>
      <ws2007HttpBinding>
        <binding name="myStsBinding">
          <security mode="Message">
            <message clientCredentialType="UserName"
                    establishSecurityContext="false"
                    negotiateServiceCredential="true"/>
          </security>
        </binding>
      </ws2007HttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="myStsBehavior">
          <serviceCredentials>
            <serviceCertificate findValue="CN=MySTS" storeLocation="LocalMachine"
                    storeName="My" x509FindType="FindBySubjectDistinguishedName"/>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
