<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
  </configSections>
  <system.identityModel>
    <identityConfiguration>
      <claimsAuthorizationManager type="ClaimsBasedIdentityConsoleApp.AuthorizationManager, ClaimsBasedIdentityConsoleApp"/>
    </identityConfiguration>
  </system.identityModel>
</configuration>